* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circular std", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #262A41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.welcome {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 88px;
}

section.welcome h3 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 32px;
}

section.welcome h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 110%;
  color: #7F6BF5;
  margin-bottom: 8px;
}

section.welcome span {
  color: #54A3D2;
}

section.todo-list {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 95%;
  width: 95%;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px;
  background: #fff;
  position: relative;
}

.container h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #635BF0;
  padding-bottom: 8px;
  border-bottom: 2px solid #F0F0F0;
  text-align: center;
  margin-bottom: 64px;
}

ul li {
  list-style: none;
  margin: 22px 0;
  color: #8E8E8E;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

ul li img {
  margin-right: 16px;
  cursor: pointer;
}

ul li .task-done {
  text-decoration: line-through;
}

ul li .remove {
  position: absolute;
  right: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer button {
  border: none;
  cursor: pointer;
  border-radius: 14px;
  min-width: 48px;
  min-height: 48px;
  color: #fff;
  background: #635BF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: -1.57219px 30.9601px 80px rgba(99, 91, 240, 0.31), -1.01901px 20.0667px 46.8519px rgba(99, 91, 240, 0.23537), -0.60559px 11.9254px 25.4815px rgba(99, 91, 240, 0.188296), -0.31444px 6.19202px 13px rgba(99, 91, 240, 0.155), -0.1281px 2.52268px 6.51852px rgba(99, 91, 240, 0.121704), -0.02911px 0.57334px 3.14815px rgba(99, 91, 240, 0.0746296);
          box-shadow: -1.57219px 30.9601px 80px rgba(99, 91, 240, 0.31), -1.01901px 20.0667px 46.8519px rgba(99, 91, 240, 0.23537), -0.60559px 11.9254px 25.4815px rgba(99, 91, 240, 0.188296), -0.31444px 6.19202px 13px rgba(99, 91, 240, 0.155), -0.1281px 2.52268px 6.51852px rgba(99, 91, 240, 0.121704), -0.02911px 0.57334px 3.14815px rgba(99, 91, 240, 0.0746296);
}

footer button img {
  width: 35%;
}

footer button:hover {
  background: #4f48d5;
}

footer input {
  outline: none;
  border: none;
  border-bottom: 1px solid #635BF0;
  width: 70%;
  padding: 8px 16px;
  color: #8E8E8E;
}

footer input::-webkit-input-placeholder {
  color: #c0c0c0;
}

footer input:-ms-input-placeholder {
  color: #c0c0c0;
}

footer input::-ms-input-placeholder {
  color: #c0c0c0;
}

footer input::placeholder {
  color: #c0c0c0;
}
/*# sourceMappingURL=style.css.map */