@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

body {
    width: 100%;
    height: 100vh;
    background: $bg-color;
    @include flex(center, center);
}

section.welcome {
    width: 50%;
    height: 100%;

    @include flex(flex-start, center);
    flex-direction: column;
    padding-left: 88px;

    h3 {
        font-weight: 400;
        color: $bg-white;
        margin-bottom: 32px;
    }

    h2 {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 110%;
        color: $main-color-dark;
        margin-bottom: 8px;
    }

    span {
        color: $text-color-blue;
    }
}

section.todo-list {
    width: 50%;
    height: 100%;
    @include flex(center,center);
}

.container {
    height: 95%;
    width: 95%;

    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px;
    background: $bg-white;

    position: relative;

    overflow-y: auto;

    h3 {
        font-size: 1.4rem;
        font-weight: 500;
        color: $main-color;
        padding-bottom: 8px;
        border-bottom: 2px solid #F0F0F0;
        text-align: center;
        margin-bottom: 48px;
    }
}

ul li {
    list-style: none;
    margin: 22px 0;
    color: $base-color;
    font-weight: 300;
    position: relative;
    @include flex(center, flex-start);

    img {
        margin-right: 16px;
        cursor: pointer;
    }

    img.icon-done {
        width: 18px;
    }

    .task-done {
        text-decoration: line-through;
    }

    .remove {
        position: absolute;
        right: 0;
    }
}

footer {
    @include flex(flex-end, space-between);
    width: 100%;
    margin: 16px 0;
}

footer button {
    border: none;
    cursor: pointer;
    border-radius: 14px;
    min-width: 48px;
    min-height: 48px;
    color: $bg-white;
    background: $main-color;

    @include flex(center,center);
    transition: all .4s;
    box-shadow: -1.57219px 30.9601px 80px rgba(99, 91, 240, 0.31), -1.01901px 20.0667px 46.8519px rgba(99, 91, 240, 0.23537), -0.605585px 11.9254px 25.4815px rgba(99, 91, 240, 0.188296), -0.314439px 6.19202px 13px rgba(99, 91, 240, 0.155), -0.128105px 2.52268px 6.51852px rgba(99, 91, 240, 0.121704), -0.0291147px 0.573335px 3.14815px rgba(99, 91, 240, 0.0746296);

    img {
        width: 35%;
    }

    &:hover {
        background: $main-color-darker;
    }
}

footer input {
    outline: none;
    border: none;
    border-bottom: 1px solid $main-color;
    width: 70%;

    padding: 8px 16px;
    color: $base-color;

    &::placeholder {
        color: #c0c0c0;
    }
}

@media screen and (max-width: 1160px) {
    .container {
        padding: 32px;
    }
}

@media screen and (max-width: 940px) {
    section.todo-list {
        width: 60%;
    }

    section.welcome {
        padding-left: 42px;
    }
}

@media screen and (max-width: 840px) {
    section.welcome {
        display: none;
    }

    section.todo-list {
        width: 80%;
    }
}

@media screen and (max-width: 520px) {
    section.todo-list {
        width: 95%;
    }
}